<header class="app-header gradient-background">
    <!-- Botón admin -->
    @if(auth.isAdmin()) {
    <div style="position:absolute; left: 10px;">
        <p-splitButton [model]="adminMenu" icon="pi pi-bars" class="admin-menu-button">
        </p-splitButton>
    </div>
    }

    <!-- Logo (solo si existe) -->
    @if (company.getLogo()) {
    <div>
        <img [src]="company.getLogo()" alt="Logo" class="logo" />
    </div>
    }

    <!-- Idioma actual -->
    @if(languages.length) {
    <div class="flag">
        <!-- Teléfono -->
        @if(company.getPhone()) {
        <div>
            <a class="phone">
                {{ company.getPhone() }}
            </a>
            @if(company.isPhoneWhatsApp()) {
            <span class="whatsapp-icon">
                <i class="pi pi-whatsapp" style="color:green"></i>
            </span>
            }
        </div>
        }

        <p-select [options]="languages" [(ngModel)]="selectedLanguage" (onChange)="languageChange()"
            style="min-width: 200px;" class="w-full" optionValue="code" optionLabel="name"
            placeholder="{{ 'HEADER.LANGUAGE_LABEL' | translate }}">

            <!-- Plantilla personalizada para mostrar bandera + nombre -->
            <ng-template let-lang #item>
                <ng-container *ngIf="lang.flag; else noFlag">
                    <img [src]="lang.flag" alt="{{ lang.name }}" style="width:20px;height:14px;margin-right:5px;">
                </ng-container>
                <ng-template #noFlag>
                    <span style="display:inline-block;width:20px;height:14px;background:#eee;margin-right:5px;"></span>
                </ng-template>
                <span>{{ lang.name }}</span>
            </ng-template>

            <ng-template #selectedItem let-lang>
                <ng-container *ngIf="lang?.flag; else noFlagSelected">
                    <img [src]="lang.flag" alt="{{ lang.name }}" style="width:20px;height:14px;margin-right:5px;">
                </ng-container>
                <ng-template #noFlagSelected>
                    <span style="display:inline-block;width:20px;height:14px;background:#eee;margin-right:5px;"></span>
                </ng-template>
                <span>{{ lang?.name }}</span>
            </ng-template>
        </p-select>
    </div>
    }
</header>