<p-confirmDialog></p-confirmDialog>

<div class="flex justify-content-between align-items-center mb-3">
  <button pButton label="{{ 'USERS.ADD_USER' | translate }}" icon="pi pi-plus" (click)="openCreateModal()"></button>
</div>

<p-table [value]="users" [loading]="loading" dataKey="id" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>{{ 'USERS.IDENTIFIER' | translate }}</th>
      <th>{{ 'USERS.EMAIL' | translate }}</th>
      <th>{{ 'USERS.ROLE' | translate }}</th>
      <th style="width:155px">{{ 'COMMON_LABELS.ACTIONS' | translate }}</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.userId }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text"
          (click)="openEditModal(user)"></button>
        <button pButton icon="pi pi-key" class="p-button-rounded p-button-text" (click)="changePassword(user)"></button>
        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"
          (click)="confirmDelete(user)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>