<form [formGroup]="form" (ngSubmit)="submit()" class="p-fluid p-4" style="min-width: 480px;">
  <!-- Código -->
  <div class="field mb-3 form-row margin-bottom">
    <label for="code" class="font-semibold mb-1 block">{{ 'LANGUAGES.CODE' | translate }}</label>
    <input id="code" pInputText formControlName="code" class="w-full" placeholder="es, en..." />
  </div>

  <!-- Nombre -->
  <div class="field mb-3 form-row margin-bottom">
    <label for="name" class="font-semibold mb-1 block">{{ 'LANGUAGES.NAME' | translate }}</label>
    <input id="name" pInputText formControlName="name" class="w-full"
      placeholder="{{ 'LANGUAGES.LANGUAGE_ENUM' | translate }}" />
  </div>

  <!-- Checkbox -->
  <div class="flex align-items-center gap-2 mb-3 margin-bottom">
    <p-checkbox formControlName="isDefault" binary="true" inputId="isDefault" style="margin-right: 7px;"></p-checkbox>
    <label for="isDefault" class="font-medium">{{ 'LANGUAGES.DEFAULT_LABEL' | translate }}</label>
  </div>

  <!-- Bandera -->
  <div class="field mb-6 margin-bottom" style="display: flex; align-items: center; justify-content: space-between;">
    <input #fileInput type="file" accept="image/*" hidden (change)="onFlagSelected($event)" />

    <button pButton type="button" icon="pi pi-image" [label]="'LANGUAGES.SELECT_FLAG' | translate"
      (click)="fileInput.click()">
    </button>

    <img *ngIf="previewFlag" [src]="previewFlag" class="border-1 surface-border border-round"
      style="width: 50px; height: 35px; object-fit: cover;" />

  </div>

  <div class="div-separator"></div>

  <!-- Botones -->
  <div class="flex justify-content-end gap-2 mt-4">
    <button pButton type="button" [label]="'COMMON_LABELS.CANCEL' | translate" class="p-button-text"
      (click)="ref.close()"></button>

    <button pButton type="submit" [label]="'COMMON_LABELS.SAVE' | translate" class="p-button-success"
      [disabled]="form.invalid"></button>
  </div>

</form>