/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';

html,
body {
  margin: 0;
  padding: 0;
}

.gradient-background {
  background: #bdc2e8;
  background: linear-gradient(to right,
      #bdc2e8, #d7d9eb, #e6dee9);
}