.map-indoor-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .canvas-container {
    flex: 1 1 auto;
    min-width: 0;
    width: auto;
    display: block;
  }

  .slots-selector-container {
    width: 320px;
    overflow-y: auto;
    min-width: 320px;
    flex-shrink: 0;
    padding-top: 56px;
  }
}
